[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.70"
uvicorn = "~=0.16"
alembic = "~=1.7"
pyjwt = "*"
sqlalchemy = "~=1.4"
httpx = "*"
pydantic = {extras = [ "email",], version = "~=1.8"}
fastapi-pagination = {extras = [ "sqlalchemy",], version = "~=0.9"}
passlib = {extras = [ "bcrypt",], version = ""}

[dev-packages]
Faker = "*"
pytest = "*"
pytest-dotenv = "*"
black = "*"
freezegun = "*"
requests = "*"
click = "*"
isort = "*"

[requires]
python_version = "3.11"
